* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #303030;
    font: normal 20px monospace;
    color: rgba(255, 255, 255, 0.493);
}

h1 {
    text-align: center;
    padding: 2%;
}

section {
    background-color: white;
    padding: 1%;
    width: 700px;
    margin: auto;
    color: black;
    box-shadow: 5px 5px 10px rgb(25, 2, 46);
}

footer {
    padding: 2%;
    color: white;
    text-align: center;
    font-style: italic;
}

div {
    text-align: center;
    padding: 2%;
    line-height: 30px;
}

.button {
    width: 150px;
    height: 50px;
    background-color: rgb(47, 46, 48);
    color: white;
    font: normal 18px monospace;
    border: none;
    margin-top: 3%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 1s ease, color 0.5s ease;
}

.button:hover {
    background-color: rgb(194, 191, 198);
    color: rgb(0, 0, 0);
}