* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

main {
    margin-top: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.curso {
    display: flex;
    justify-content: center;
    width: 200px;
    border: 4px solid #888;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    cursor: pointer;
}

.curso:hover {
    border-color: #be03ccd3;
}

.c1 {
    background-color: #322e35;
    color: #cec3d2;
}

.caixa {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border: 4px solid #000;
    background-color: #e1e1e1;
    border-radius: 10px;
    padding: 10px;
    height: 500px;
    width: 300px;
}